:root{
    --background-color: rgb(212, 177, 228);
    --text-color: rgb(98, 36, 126);
    --accent: rgb(234, 224, 246);
}

*{
    box-sizing: border-box;
    font-family: Trebuchet, sans-serif;
}

body {
    margin: 0;
    color: var(--text-color);
    background-color:var(--background-color);
}

.app{
    display: grid;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
}

.sidebar{
    background-color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar h1{
    font-size: 24px;
    margin-bottom: 30px;
    margin: 9px;
}

.sidebar a {
    text-decoration: none;
    color: rgb(65, 9, 91);
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
}

.sidebar a:hover {
    background-color: var(--accent)
}

.main-content {
    padding: 40px;
}



/* Edit and Delete Buttons */

.edit-course, 
.delete-course, 
.delete-assignment, 
.edit-assignment,
.delete-task,
.edit-exam,
.delete-exam {
    border: none;
    background: rgb(186, 144, 191);
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
}

.edit-course img, 
.delete-course img, 
.delete-assignment img, 
.edit-assignment img,
.delete-task img,
.edit-exam img,
.delete-exam img {
    width: 20px;
    height: 22px;
}

.edit-course:hover, 
.delete-course:hover, 
.delete-assignment:hover, 
.edit-assignment:hover,
.delete-task:hover,
.edit-exam:hover,
.delete-exam:hover {
    background-color: rgba(141, 21, 141, 0.802);
}




/* Add Buttons */

.add-exam-button,
.add-assignment-button,
.add-new-assignment-button,
.save-assignment-button,
.add-new-task-button {
    background-color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}




/* TASKS */

.task-group {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.task-group h4 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}

.task {
    display: grid;
    grid-template-columns: 25px 1fr 120px 130px 50px;
    column-gap: 10px;
    align-items: center;
    gap: 15px;
    padding: 2px 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.task:hover {
    background-color: #f7f2fa;
}

.task-description {
    font-weight: 500;
}

.task-course {
    font-size: 14px;
    font-weight: bold;
}

.task-due-date {
    font-size: 14px;
    opacity: 0.7;
}

.add-task-button {
    background-color: #fdfcfe;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.add-task-button:hover {
    background-color: var(--accent);
}




.delete-task:hover {
    background-color: var(--accent);
}

.task input:checked + span{
    text-decoration: line-through;
    opacity: 0.5;
}



/* COURSES */

.course-list {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.course-card {
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.course-card h3 {
    margin-top: 0;
}

.add-course-button {
    background-color: #fdfcfe;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.add-course-button:hover {
    background-color: var(--accent);
}



/* ASSIGNMENT */

.assignment-list {
    display: grid;
    gap: 12px;
}

.assignment {
    display: grid;
    grid-template-columns: 50px 150px 150px 120px 1fr 50px 100px 50px 50px; 
    column-gap: 12px;
    align-items: center;

    background-color: white;
    padding: 18px 20px;
    border-radius: 10px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.5s ease;
}

.assignment:hover {
    transform: translateY(-2px);
}

.course {
    font-weight: bold;
}

.due-date {
    font-weight: bold;
}

.due-time {
    font-weight: bold;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}



.add-assignment-button:hover {
    background-color: var(--accent);
}


.assignment-filters {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}

.assignment-filters label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

.assignment-filters select {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}


/* CALENDAR */

.calendar {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.calendar-header h3 {
    font-size: 25px;
    margin: 0px;
    padding: 0px;
    
}

.calendar-header button {
    border: none;
    background-color: var(--accent);
    color: var(--text-color);
    font-size: 20px;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
}

.calendar-header button:hover {
    background-color: var(--background-color);
}

.calendar-weekdays, .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.calendar-weekdays {
    margin-bottom: 8px;
}

.calendar-weekdays span {
    text-align: center;
    font-weight: bold;
}

.calendar-day {
    min-height: 90px;
    padding: 10px;
    border: 1px solid #eee;
}

.calendar-day.empty {
    background-color: #fbf7fb;
}

.calendar-day.today {
    font-weight: bold;
    color: #a258bd;
    border: 2px solid #a258bd;
}


.calendar-exam {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 8px;
    padding: 6px;
    background-color: var(--accent);
    border-radius: 6px;
    border: 2px solid  rgb(206, 186, 229);
    font-size: 15px;
    cursor: pointer;
}

.calendar-exam strong {
    font-size: 13px;
}

.calendar-exam span {
    font-size: 13px;
}

.exam-weight {
    font-weight: bold;
}


.exam-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
}

.exam-card {
    position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 4px 15px;
}

.close-exam-button {
    position: absolute;
    top: 14px;
    right: 14px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    padding: 7px;
    border-radius: 6px;
}

.close-exam-button:hover {
    background-color: var(--accent);
}

.exam-card-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.exam-course {
    font-size: 14px;
    font-weight: bold;
    opacity: 0.7;
}

.exam-card-header h2 {
    margin: 5px 0 0;
    font-size: 24px;
}

.exam-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom:20px;
}

.exam-detail {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.detail-label {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.6;
}

.exam-actions {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 25px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}

