:root{
    --background-color: rgb(212, 177, 228);
    --text-color: rgb(98, 36, 126);
    --accent: rgb(216, 204, 230);
}

*{
    box-sizing: border-box;
    font-family: Trebuchet, sans-serif;
}

body {
    margin: 0;
    color: var(--text-color);
    background-color:var(--background-color);
}

.app{
    display: grid;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
}

.sidebar{
    background-color: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar h1{
    font-size: 24px;
    margin-bottom: 30px;
    margin: 9px;
}

.sidebar a {
    text-decoration: none;
    color: rgb(65, 9, 91);
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
}

.sidebar a:hover {
    background-color: var(--accent)
}

.main-content {
    padding: 40px;
}


/* ASSIGNMENT */

.assignment-list {
    display: grid;
    gap: 12px;
}

.assignment {
    display: grid;
    grid-template-columns: 50px 150px 200px 150px 120px 100px 1fr;
    align-items: center;

    background-color: white;
    padding: 18px 20px;
    border-radius: 10px;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.5s ease;
}

.assignment:hover {
    transform: translateY(-2px);
}

.course {
    font-weight: bold;
}

.due-date {
    font-weight: bold;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.add-assignment-button {
    background-color: #fdfcfe;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.add-assignment-button:hover {
    background-color: var(--accent);
}


.assignment-filters {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}

.assignment-filters label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
}

.assignment-filters select {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}




/* TASKS */

.task-group {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.task-group h4 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
}

.task {
    display: grid;
    grid-template-columns: 25px 1fr 120px 130px 70px;
    align-items: center;
    gap: 15px;
    padding: 2px 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.task:hover {
    background-color: #f7f2fa;
}

.task-description {
    font-weight: 500;
}

.task-course {
    font-size: 14px;
    font-weight: bold;
}

.task-due-date {
    font-size: 14px;
    opacity: 0.7;
}

.add-task-button {
    background-color: #fdfcfe;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.add-task-button:hover {
    background-color: var(--accent);
}

.delete-task {
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-weight: bold;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
}

.delete-task:hover {
    background-color: var(--accent);
}

.task input:checked + span{
    text-decoration: line-through;
    opacity: 0.5;
}



/* COURSES */

.course-list {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.course-card {
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.course-card h3 {
    margin-top: 0;
}

.add-course-button {
    background-color: #fdfcfe;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.add-course-button:hover {
    background-color: var(--accent);
}
